
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.inputVal{
  outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    width:205px
}


.App-header {
  background-image: linear-gradient(#800080, #440a44);
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  margin-top: 58px;
}